// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/border-radius";

$white: white;
$black: rgb(38, 38, 38);

$dark-red: #F2508B;
$medium-dark-red: #F288A4;
$medium-red: #FEDCBA;
$medium-ligth-red: #D7DDC3;
$light-red: #93BDB9;

$red: #8E2800;
$yellow: #FFF0A5;
$green: #468966;
$brown: #FFB03B;
$pink: #B64926;

html {
  padding: 3px;
  color: $white;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2pt;
  word-spacing:5pt;
  font-size:38px;
  text-align:left;
  font-family:helvetica, sans-serif;
  line-height:2;
}
body {
  background-color: $black;
}
button {
  font-family:helvetica, sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2pt;
  word-spacing:5pt;
  font-size:38px;
  border: 0px;
  margin-top: auto;
  text-transform:uppercase;
  text-align: center;
  width: auto;
  height: 80px;
  margin: 3px;
}
#header {
  padding-left: 10px;
  height: auto;
  background-color: $black;
}
#buttons {
  padding: 3px;
  text-align:center;
  background-color: $black;
  width:auto;
  height:auto;
}
#list {
  background-color: $black;
}
.button {
  color: white;
  background-color: #247fcc;
}
.curved {
  @include border-radius(6px);
  padding: 5px;
}
.item {
  margin-top: auto;
  vertical-align:middle;
  text-transform:uppercase;
  text-align: center;
  min-width: 80px;
  width: auto;
  height: auto;
  margin: 3px;
  float: left;
}
