// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "compass/css3/border-radius";
//@import "compass/css3/font-face";

$white: white;
$black: rgb(38, 38, 38);

$dark-red: #F2508B;
$medium-dark-red: #F288A4;
$medium-red: #FEDCBA;
$medium-ligth-red: #D7DDC3;
$light-red: #93BDB9;

$red: #8E2800;
$yellow: #FFF0A5;
$green: #468966;
$brown: #FFB03B;
$pink: #B64926;

$button-blue: #247fcc;

@mixin joy-font {
  font-family:helvetica, sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2pt;
  word-spacing:5pt;
  font-size:38px;
  line-height:2;
}

html {
  @include joy-font;
}
body {
  color: $white;
  background-color: $black;
}
#header {
  padding-left: 10px;
  height: auto;
}
#buttons {
  padding: 3px;
  text-align:center;
  width:auto;
  height:auto;
}
.button {
  color: $white;
  background-color: $button-blue;
  border: 0px;
  margin-top: auto;
  @include joy-font;
  width: auto;
  height: 80px;
  margin: 3px;
}
.curved {
  //@include border-radius(6px);
  padding: 5px;
}
.item {
  margin-top: auto;
  vertical-align:middle;
  text-transform:uppercase;
  text-align: center;
  min-width: 80px;
  width: auto;
  height: auto;
  margin: 3px;
  float: left;

  &.dark-red {
    background-color: $dark-red;
  }
  &.light-red {
    background-color: $light-red;
  }
  &.medium-dark-red {
    background-color: $medium-dark-red;
  }
  &.medium-ligth-red {
    background-color: $medium-ligth-red;
  }
  &.medium-red {
    background-color: $medium-red;
  }
  &.red {
    background-color: $red;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.brown {
    background-color: $brown;
  }
  &.green {
    background-color: $green;
  }
  &.pink{
    background-color: $pink;
  }
}
